<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Document </title>
        <meta charsel = "UTF-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css ">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&family=Skranji:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class = "container" >
            <div class = "First">
                <p class = "blend-Paragraph">BLEND OF 100% PURE NATURAL SPRING AND LITHIA WATERS</p>
                <p class = "also-Paragraph">It also contains a level of minerals that is beneficial to the health for most living things.
                    Mineral-rich water will usually have a neutral or slightly alkaline pH.</p>
                <p class = "manufacturer-Paragraph">Manufacturer details:</p>
                <p class = "name-Paragraph">name, details</p>
            </div>

            <div class = "Second">
                <div class = "circ1"></div>
                <div class = "circ2"></div>
                <div class = "circ3"></div>
                <div class = "circ4"></div>
                <div class = "circ5"></div>
                <div class = "circ6"></div>
                <div class = "circ7"></div>
                <div class = "circ8"></div>
                <div class = "circ9"></div>
                <div class = "dcirc1"></div>
                <div class = "dcirc2"></div>
                <div class = "dcirc3"></div>
                <div class = "dcirc4"></div>
                <div class = "dcirc5"></div>
                <div class = "dcirc6"></div>
                <div class = "dcirc7"></div>
                <div class = "dcirc8"></div>
                <div class = "dcirc9"></div>

                <div class = "drop">
                    <div class = "circle1"></div>
                    <div class = "circle2"></div>
                    <div class = "circle3"></div>
                    <div class = "circle4"></div>
                    <div class = "circle5"></div>
                    <div class = "circle6"></div>
                    <div class = "circle7"></div>
                    <div class = "circle8"></div>
                    <div class = "circle9"></div>
                    <div class = "circle10"></div>
                    <div class = "circle11"></div>
                    <div class = "circle12"></div>
                    <div class = "circle13"></div>
                    <div class = "circle14"></div>
                    <div class = "circle15"></div>
                    <div class = "circle16"></div>
                    <div class = "circle17"></div>
                    <div class = "circle18"></div>
                    <div class = "circle19"></div>
                    <div class = "circle20"></div>
                    <div class = "circle21"></div>
                    <div class = "circle22"></div>
                    <div class = "circle23"></div>
                    <div class = "circle24"></div>
                    <div class = "circle25"></div>
                    <div class = "circle26"></div>
                    <div class = "circle27"></div>
                    <div class = "circle28"></div>
                    <div class = "circle29"></div>
                    <div class = "circle30"></div>
                    <div class = "circle31"></div>
                    <div class = "circle32"></div>
                    <div class = "circle33"></div>
                    <div class = "circle34"></div>
                    <h1 class = "heading"><i>BLUE H2O</i></h1>
                    <p class = "text">MINERAL WATER</p>


                </div>
            </div>
                
            <div class = "Third">
                <p class = "recycle-Paragraph">PLEASE RECYCLE BOTTLE</p>
                <p class = "ml-Paragraph">500ml</p>
                <p class = "bottled-Paragraph">Bottled On</p>
                <p class = "date-Paragraph">12/29/17</p>
                <p class = "best-Paragraph">Best Before</p>
                <p class = "date2-Paragraph">12/29/19</p>
                <p class = "batch-Paragraph">Batch Nr</p>
                <p class = "nr-Paragraph">243</p>
            </div>

        </div>
    </body>
</html>
