<!DOCTYPE html>
<html>
<head>
	<title>Chocolate Label</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
        <div class="company-name-first">
			<p>MASON & CO.</p>
		</div>
        <div class="text-below-first-company-name">
			<p><i>Craftsmen of Chocolate</i></p>
		</div>
        <div class="company-name-second">
			<p>MASON & CO.</p>
		</div>
        <div class="text-below-second-company-name">
			<p>DARK BRICK</p>
		</div>
        <div class="text-middle">
			<p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
		</div>
        <div class="text-barcode">
            <p>Made in Denmark</p>
        </div>
		<div class="text-address">
            <p> <p3>Manufactured exclusively for:</p3><br><br>
			<p2>TYRONA, INC.</p2><br>
			123 Anywhere St., Any City, ST 12345<br> www.freechocolate.com
			</p>		
        </div>
		<div class="chocolate-img">
			<img src="images\chocolates.png" alt="Orange">
		</div>
        <div class="chocolate2-img">
			<img src="images\chocolate2.png" alt="Orange">
		</div>
        <div class="barcode-img">
			<img src="images\barcode.png" alt="Barcode">
		</div>
		<div class="product-description">
			<p><b>Components:</b><br>
			<p1>Detailed components of the chocolate.</p1><br><br><br><br><br>
			<b>Origin:</b><br>
			<p1>Ingredients origins.</p1><br><br><br><br>
			<b>INGREDIENTS:</b><br>
			<p1>A list of all the ingredients used to make the product should be provided, with the ingredients listed in descending order of
				concentration.
			</p1><br><br><br>
			<b>STORAGE INFORMATION:</b><br>
			<p1>Indoors, <= 20 </p1><br><br>
			</p>
		</div>
		<div class="expiration-date">
			<p>EXP DATE: July 2028</p>
		</div>
	</div>
</body>
</html>
