<!DOCTYPE html>
<html>
<head>
	<title>Cosmetics Label</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
        <div class="company-name-first">
			<p>PLATYPUS CO.</p>
		</div>
        <div class="text-below-first-company-name">
			<p><i>Natural Facemask</i></p>
		</div>
        <div class="company-name-second">
			<p>PLATYPUS CO.</p>
		</div>
        <div class="text-below-second-company-name">
			<p>FACE MASK</p>
		</div>
        <div class="text-middle">
			<p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
		</div>
        <div class="text-barcode">
            <p>Made in China</p>
        </div>
		<div class="text-address">
            <p> <p1>Manufactured exclusively for:</p1><br><br>
			<p2>LARANA, INC.</p2><br>
			123 Anywhere St., Any City, ST 12345<br> www.reallygreatsite.com
			</p>		
        </div>
		<div class="orange-img">
			<img src="images\orange1.png" alt="Orange">
		</div>
        <div class="orange2-img">
			<img src="images\orange2.png" alt="Orange">
		</div>
        <div class="barcode-img">
			<img src="images\barcode.png" alt="Barcode">
		</div>
		<div class="product-description">
			<p><b>DIRECTIONS:</b><br>
			<p1>clear instructions on how to use the product</p1>.<br><br><br><br><br>
			<b>WARNINGS:</b><br>
			<p1>Any safety warnings or precautions that consumers need to be aware of should be clearly displayed on the label.</p1><br><br><br><br>
			<b>INGREDIENTS:</b><br>
			<p1>A list of all the ingredients used to make the product should be provided, with the ingredients listed in descending order of
				concentration.
			</p1><br><br><br>
			<b>STORAGE INFORMATION:</b><br>
			<p1>Indoors, <= 20 </p1><br><br>
			</p>
		</div>
		<div class="expiration-date">
			<p>EXP DATE: DECEMBER 2025</p>
		</div>
	</div>
</body>
</html>
